body {
    text-align: center;
}

ul, ol {
    list-style-type: disc;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

ul li, ol li {
    display: list-item;
    margin: 10px;
}



h1{
    color: black;
}
.titel {
    color: aqua;
}
h2.green {
    color: aquamarine;
}
body {
    background-color: chocolate;
}
ul li.this {
    color: aqua;
    background-color: black;
}